src/main/app/onboarding.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" 
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    

	<flow name="post:/signin:api-config">
        <http:request config-ref="healthcare-identity-service-api" path="/authorize" method="POST" doc:name="Call POST /authorize">
            <http:success-status-code-validator values="200,401"/>
        </http:request>
        <set-property propertyName="http.status" value="#[message.inboundProperties.'http.status']" doc:name="Set HTTP status" mimeType="application/json"/>

	</flow>


	<flow name="post:/signout:api-config">
		<http:request config-ref="healthcare-identity-service-api" path="/unauthorize" method="POST" doc:name="Call POST /unauthorize">
		</http:request>

	</flow>


	<flow name="post:/signup:api-config">

		<http:request config-ref="healthcare-onboarding-process-api" path="/users" method="POST" doc:name="Call POST /users">
            <http:request-builder>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:request-builder>
            <http:success-status-code-validator values="201,409"/>
		</http:request>
        <set-property propertyName="http.status" value="#[message.inboundProperties.'http.status']" doc:name="Set HTTP status"/>

	</flow>


</mule>
